@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.imgBorder {
  border-top-right-radius: 0.3pc;
  border-top-left-radius: 0.3pc;
}

.cardShadow {
  box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.15);
  margin: 10px
}

.cardBorder {
  border: 2px solid #003DA5 !important;
}

.textColor {
  font-size: 13px;
  color: #003DA5 !important;
}

.hrLandingPage {
  margin: 20px;
  color: #FE5000;

}

.sectionGray {
  background-color: #edf2f5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionWhite {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.center {
  justify-content: center;
  display: flex;
}